<div class="app-wrapper">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">Payments and aging</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center">
                  <div class="col-auto">
                    <input type="text" id="search-orders" name="searchorders" class="form-control search-orders"
                           placeholder="Search" [(ngModel)]="term">
                  </div>
                </form>

              </div><!--//col-->
              <div class="col-auto">

                <select class="form-select w-auto">
                  <option selected value="option-1">All</option>
                  <option value="option-2">Credit</option>
                  <option value="option-2">Debit</option>
                </select>

              </div>
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->


      <div class="tab-content" id="orders-table-tab-content">
        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover mb-0 text-left">
                  <thead class="table-dark">
                  <tr>
<!--                    <th class="cell cel">Assignment no.</th>-->
                    <th class="cell cel">Billing Document</th>
                    <th class="cell cel">Comp.code</th>
                    <th class="cell cel">Acct.Doc.No.</th>
                    <th class="cell cel">Doc.type</th>
                    <th class="cell cel">Ref.Doc.no</th>
<!--                    <th class="cell cel">Ref.Doc.no.</th>-->
                    <th class="cell cel">Amt.in local curr.</th>
                    <th class="cell cel">Amt.in doc. curr.</th>
                    <th class="cell cel">Amt.eligible for disc.</th>
                    <th class="cell cel">local curr.</th>
                    <th class="cell cel">Upd.curr.</th>
                    <th class="cell cel">Tax</th>
                    <th class="cell cel">Entry date</th>
                    <th class="cell cel">Baseline date</th>
                    <th class="cell cel">Clear date</th>
                    <th class="cell cel">Doc. date</th>
                    <th class="cell cel">Issue date</th>
                    <th class="cell cel">Last date</th>
                    <th class="cell cel">Posting date</th>
                    <th class="cell cel">Bill exchange date</th>
                    <th class="cell cel">Fiscal year</th>
                    <th class="cell cel">Fiscal period</th>
                    <th class="cell cel">Dedit/Credit</th>
<!--                    <th class="cell cel">Status</th>-->
                  </tr>
                  </thead>
                  <tbody>

                  <tr *ngFor="let user of list | filter:term">
<!--                    <td class="cell">{{ user.ALLOC_NMBR }}</td>-->
                    <td class="cell">{{ user.BILL_DOC }}</td>
                    <td class="cell">{{ user.COMP_CODE }}</td>
                    <td class="cell">{{ user.DOC_NO }}</td>
                    <td class="cell">{{ user.DOC_TYPE }}</td>
                    <td class="cell">{{ user.REF_DOC }}</td>
<!--                    <td class="cell"><span class="truncate">{{user.REF_DOC_NO}}</span></td>-->
                    <td class="cell">{{ user.AMOUNT }}</td>
                    <td class="cell">{{ user.AMT_DOCCUR }}</td>
                    <td class="cell">{{ user.DISC_BASE }}</td>
                    <td class="cell">{{ user.LOC_CURRCY }}</td>
                    <td class="cell">{{ user.T_CURRENCY }}</td>
                    <td class="cell">{{ user.TAX_CODE }}</td>
                    <td class="cell">{{ user.ENTRY_DATE	}}</td>
                    <td class="cell">{{ user.BLINE_DATE }}</td>
                    <td class="cell">{{ user.CLEAR_DATE }}</td>
                    <td class="cell">{{ user.DOC_DATE }}</td>
                    <td class="cell">{{ user.ISSUE_DATE }}</td>
                    <td class="cell">{{ user.LAST_DUNN }}</td>
                    <td class="cell">{{ user.PSTNG_DATE }}</td>
                    <td class="cell">{{ user.USAGEDATE }}</td>
                    <td class="cell">{{ user.FISC_YEAR }}</td>
                    <td class="cell">{{ user.FIS_PERIOD }}</td>
<!--                    <td class="cell">{{ user.DB_CR_IND }}</td>-->
                    <td class="cell"> <h5><span [ngClass]="user.DB_CR_IND == 'S' ? 'bg-success' : 'bg-danger'" class="badge">{{ Credebit(user.DB_CR_IND) }}</span></h5></td>
                  </tr>
                  </tbody>
                </table>
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->
      </div>
    </div>
  </div>
</div>
